<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="admin/common/templateAdmin">
<head>
<meta charset="UTF-8" />
<link th:href="@{/templateAdmin/css/multiple-image-preview.css}"
	rel="stylesheet" />
<title>Thông tin đơn hàng</title>
<style>
.thumb-image {
	float: left;
	width: 100px;
	position: relative;
	padding: 5px;
}
</style>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
</head>
<body>
	<section layout:fragment="content">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="bold text-left mb-4">
						<h3>Đơn hàng mã [[${donhang.maDonHang}]]</h3>
					</div>
					<div class="mb-3 row">
						<div class="row col-4">
							<label for="id" class="col-sm-5 col-form-label">ID:</label>
							<div class="col-sm-7">
								<input type="text" th:value="${donhang.maDonHang}" readonly
									class="form-control-plaintext" id="id" />
							</div>
						</div>
						<div class="row col-4">
							<label for="ngaydat" class="col-sm-5 col-form-label">Ngày Đặt:</label>
							<div class="col-sm-7">
								<input type="text" th:value="${donhang.ngayDat}" readonly
									class="form-control-plaintext" id="ngaydat" />
							</div>
						</div>
						<div class="row col-4">
							<label for="ngaygiao" class="col-sm-5 col-form-label">Ngày Giao:</label>
							<div class="col-sm-7">
								<input type="text" th:value="${donhang.ngayGiao}" readonly
									class="form-control-plaintext" id="ngaygiao" />
							</div>
						</div>
					</div>
					<div class="mb-3 row">
						<div class="row col-4">
							<label for="tinhtrang" class="col-sm-5 col-form-label">Tình Trạng:</label>
							<div class="col-sm-7">
								<input type="text" th:value="${donhang.tinhTrangGiaoHang}" readonly
									class="form-control-plaintext" id="tinhtrang" />
							</div>
						</div>
						<div class="row col-4">
							<label for="thanhtoan" class="col-sm-5 col-form-label">Thanh Toán:</label>
							<div th:if="${donhang?.daThanhToan} == true" class="col-sm-7">
								<input type="text" value="Đã thanh toán" readonly
									class="form-control-plaintext" id="thanhtoan" />
							</div>
							<div th:if="${donhang?.daThanhToan} != true" class="col-sm-7">
								<input type="text" value="Chưa được thanh toán" readonly
									class="form-control-plaintext" id="thanhtoan" />
							</div>
						</div>
						<div class="row col-4">
							<label for="uudai" class="col-sm-5 col-form-label">Ưu Đãi:</label>
							<div class="col-sm-7">
								<input type="text" th:value="${donhang.uuDai} + '%'" readonly
									class="form-control-plaintext" id="uudai" />
							</div>
						</div>
					</div>
					<div class="bold text-left mb-4">
						<h3>Thông tin khách hàng</h3>
					</div>
					<div class="mb-3 row">
						<div class="row col-4">
							<label for="idkh" class="col-sm-5 col-form-label">ID Khách Hàng:</label>
							<div class="col-sm-7">
								<input type="text" th:value="${donhang.getKhachHang().getMaKhachHang()}" readonly
									class="form-control-plaintext" id="idkh" />
							</div>
						</div>
						<div class="row col-4">
							<label for="idthanhvien" class="col-sm-5 col-form-label">ID Thành Viên:</label>
							<div th:if="${donhang.getKhachHang().getThanhVien().getMaThanhVien()} == null" class="col-sm-7">
								<input type="text" value="Chưa đăng ký thành viên" readonly
									class="form-control-plaintext" id="idthanhvien" />
							</div>
							<div th:if="${donhang.getKhachHang().getThanhVien().getMaThanhVien()} != null" class="col-sm-7">
								<input type="text" th:value="${donhang.getKhachHang().getThanhVien().getMaThanhVien()}" readonly
									class="form-control-plaintext" id="idthanhvien" />
							</div>
						</div>
						<div class="row col-4">
							<label for="hoten" class="col-sm-5 col-form-label">Họ Tên:</label>
							<div class="col-sm-7">
								<input type="text" th:value="${donhang.getKhachHang().getTenKhachHang()}" readonly
									class="form-control-plaintext" id="hoten" />
							</div>
						</div>
					</div>
					<div class="mb-3 row">
						<div class="row col-4">
							<label for="email" class="col-sm-5 col-form-label">Email:</label>
							<div class="col-sm-7">
								<input type="text" th:value="${donhang.getKhachHang().getEmail()}" readonly
									class="form-control-plaintext" id="email" />
							</div>
						</div>
						<div class="row col-4">
							<label for="diachi" class="col-sm-5 col-form-label">Địa Chỉ:</label>
							<div class="col-sm-7">
								<input type="text" th:value="${donhang.getKhachHang().getDiaChi()}" readonly
									class="form-control-plaintext" id="diachi" />
							</div>
						</div>
						<div class="row col-4">
							<label for="sdt" class="col-sm-5 col-form-label">Số Điện Thoại:</label>
							<div class="col-sm-7">
								<input type="text" th:value="${donhang.getKhachHang().getSoDienThoai()}" readonly
									class="form-control-plaintext" id="sdt" />
							</div>
						</div>
					</div>
					<div class="bold text-left mb-4">
						<h3>Chi tiết đơn hàng</h3>
					</div>
					<div th:each="chitiet : ${chitiets}" class="mb-3 row">
						<div class="row col-4">
							<label class="col-sm-5 col-form-label">Tên Sách:</label>
							<div class="col-sm-7">
								<input type="text" th:value="${chitiet.getTenSach()}" readonly
									class="form-control-plaintext" />
							</div>
						</div>
						<div class="row col-4">
							<label class="col-sm-5 col-form-label">Số Lượng:</label>
							<div class="col-sm-7">
								<input type="text" th:value="${chitiet.getSoLuong()}" readonly
									class="form-control-plaintext"/>
							</div>
						</div>
						<div class="row col-4">
							<label class="col-sm-5 col-form-label">Đơn Giá:</label>
							<div class="col-sm-7">
								<input type="text" th:value="${chitiet.getDonGia()} + ' VNĐ'" readonly
									class="form-control-plaintext" />
							</div>
						</div>
					</div>
					<div class="text-left">
						<a class="btn btn-info col-2"
							href="/Store/admin/don-hang/danh-sach-don-hang">Quay lại</a>
					</div>
					<div th:replace="admin/common/footer :: footer"></div>
				</div>
			</div>
		</div>
	</section>

</body>
</html>