<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="admin/common/templateAdmin">
<head>
<meta charset="UTF-8" />
<link th:href="@{/templateAdmin/css/multiple-image-preview.css}"
	rel="stylesheet" />
<title>Thông tin đơn hàng</title>
<style>
.thumb-image {
	float: left;
	width: 100px;
	position: relative;
	padding: 5px;
}
</style>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
</head>
<body>
	<section layout:fragment="content">
		<div class="container">
			<div class="row">
				<div class="col-6">
					<h3 class="mb-4">Thông tin khách hàng</h3>
					<div class="row align-items-center mb-3">
						<div class="col-1 text-center">
							<i class="fas fa-user fa-2x"></i>
						</div>
						<div class="col-8">
							<p class="customer-field" style="margin: 0; text-align: left">ID
								Khách Hàng</p>
							<span class="customer-value">[[${donhang.getKhachHang().getTenKhachHang()}]]</span>
						</div>
					</div>
					<hr />
					<div class="row align-items-center mb-3">
						<div class="col-1 text-center">
							<i class="fas fa-user fa-2x"></i>
						</div>
						<div class="col-8">
							<p class="customer-field" style="margin: 0; text-align: left">ID
								Thành Viên</p>
							<span class="customer-value">[[${donhang.getKhachHang().getThanhVien().getMaThanhVien()}]]</span>
						</div>
					</div>
					<hr />
					<div class="row align-items-center mb-3">
						<div class="col-1 text-center">
							<i class="fas fa-user fa-2x"></i>
						</div>
						<div class="col-8">
							<p class="customer-field" style="margin: 0; text-align: left">Họ
								và tên</p>
							<span class="customer-value">[[${donhang.getKhachHang().getTenKhachHang()}]]</span>
						</div>
					</div>
					<hr />
					<div class="row align-items-center mb-3">
						<div class="col-1 text-center">
							<i class="fas fa-user fa-2x"></i>
						</div>
						<div class="col-8">
							<p class="customer-field" style="margin: 0; text-align: left">Email
							</p>
							<span class="customer-value">[[${donhang.getKhachHang().getEmail()}]]</span>
						</div>
					</div>
					<hr />
					<div class="row align-items-center mb-3">
						<div class="col-1 text-center">
							<i class="fas fa-user fa-2x"></i>
						</div>
						<div class="col-8">
							<p class="customer-field" style="margin: 0; text-align: left">Địa
								chỉ</p>
							<span class="customer-value">[[${donhang.getKhachHang().getDiaChi()}]]</span>
						</div>
					</div>
					<hr />
					<div class="row align-items-center mb-3">
						<div class="col-1 text-center">
							<i class="fas fa-user fa-2x"></i>
						</div>
						<div class="col-8">
							<p class="customer-field" style="margin: 0; text-align: left">Số
								điện thoại</p>
							<span class="customer-value">[[${donhang.getKhachHang().getSoDienThoai()}]]</span>
						</div>
					</div>
					<hr />
				</div>
				<div class="col-6">
					<h3 class="mb-4">Thông tin đơn hàng</h3>
					<div class="row align-items-center mb-3">
						<div class="col-1 text-center">
							<i class="fas fa-user fa-2x"></i>
						</div>
						<div class="col-8">
							<p class="customer-field" style="margin: 0; text-align: left">ID
								Đơn hàng</p>
							<span class="customer-value">[[${donhang.maDonHang}]]</span>
						</div>
					</div>
					<hr />
					<div class="row align-items-center mb-3">
						<div class="col-1 text-center">
							<i class="fas fa-user fa-2x"></i>
						</div>
						<div class="col-8">
							<p class="customer-field" style="margin: 0; text-align: left">Ngày đặt</p>
							<span class="customer-value">[[${donhang.ngayDat}]]</span>
						</div>
					</div>
					<hr />
					<div class="row align-items-center mb-3">
						<div class="col-1 text-center">
							<i class="fas fa-user fa-2x"></i>
						</div>
						<div class="col-8">
							<p class="customer-field" style="margin: 0; text-align: left">Ngày giao</p>
							<span class="customer-value">[[${donhang.ngayGiao}]]</span>
						</div>
					</div>
					<hr />
					<div class="row align-items-center mb-3">
						<div class="col-1 text-center">
							<i class="fas fa-user fa-2x"></i>
						</div>
						<div class="col-8">
							<p class="customer-field" style="margin: 0; text-align: left">Tình trạng</p>
							<span class="customer-value" th:if="${donhang?.daThanhToan} == true" >Đã giao</span>
							<span class="customer-value" th:if="${donhang?.daThanhToan} == false" >Chờ giao hàng</span>
						</div>
					</div>
					<hr />
					<div class="row align-items-center mb-3">
						<div class="col-1 text-center">
							<i class="fas fa-user fa-2x"></i>
						</div>
						<div class="col-8">
							<p class="customer-field" style="margin: 0; text-align: left">Thanh toán
							</p>
							<span class="customer-value" th:if="${donhang?.daThanhToan} == true" >Đã thanh toán</span>
							<span class="customer-value" th:if="${donhang?.daThanhToan} == false" >Chưa thanh toán</span>
						</div>
					</div>
					<hr />
					<div class="row align-items-center mb-3">
						<div class="col-1 text-center">
							<i class="fas fa-user fa-2x"></i>
						</div>
						<div class="col-8">
							<p class="customer-field" style="margin: 0; text-align: left">Ưu đãi
								</p>
							<span class="customer-value">[[${donhang.uuDai}]]%</span>
						</div>
					</div>
					<hr />
				</div>
			</div>
				<h3 class="mb-4 text-center">Chi tiết đơn hàng</h3>
			<div class="text-center" th:each="chitiet : ${chitiets}">
				<div class="row align-items-center mb-3">
					<div class="col-1 text-center">
						<i class="fas fa-user fa-2x"></i>
					</div>
					<div class="col-8">
						<p class="customer-field" style="margin: 0; text-align: left">Tên
							sách</p>
						<span class="customer-value" style="float: left">[[${chitiet.getTenSach()}]]</span>
					</div>
				</div>
				<div class="row align-items-center mb-3">
					<div class="col-1 text-center">
						<i class="fas fa-user fa-2x"></i>
					</div>
					<div class="col-8">
						<p class="customer-field" style="margin: 0; text-align: left">Số
							lượng</p>
						<span  class="customer-value" style="float: left">[[${chitiet.getSoLuong()}]]</span>
					</div>
				</div>
				<div class="row align-items-center mb-3">
					<div class="col-1 text-center">
						<i class="fas fa-user fa-2x"></i>
					</div>
					<div class="col-8">
						<p class="customer-field" style="margin: 0; text-align: left">Đơn
							giá</p>
						<span class="customer-value" style="float: left">[[${chitiet.getDonGia()}]]</span>
					</div>
				</div>
				<hr />
			</div>
			<div class="row">
				<div class="col text-center">
					<a class="btn btn-primary mb-4"
						th:href="@{/admin/don-hang/danh-sach-don-hang}">Quay lại</a>
				</div>
			</div>
		</div>
		<div th:replace="admin/common/footer :: footer"></div>
	</section>

</body>
</html>