<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
 	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="utf-8" />
<title>Đăng nhập</title>
<link th:href="@{/templateAdmin/css/login-form.css}" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
<script src="https://kit.fontawesome.com/a81368914c.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<img class="wave" src="img/wave.png">
	<div class="container">
		<div class="img">
			<img src="img/bg.svg">
		</div>
		<div class="login-content">
			<form method="post" th:action="@{/dang-nhap}">
				<img src="img/avatar.svg">
				<h2 class="title">Welcome</h2>
           		<div class="input-div one">
           		   <div class="i">
           		   		<i class="fas fa-user"></i>
           		   </div>
           		   <div class="div">
           		   		<input name="username" type="text" placeholder="Username"/>
           		   </div>
           		</div>
           		<div class="input-div pass">
           		   <div class="i"> 
           		    	<i class="fas fa-lock"></i>
           		   </div>
           		   <div class="div">
           		    	<input name="password" type="password" placeholder="Password"/>
            	   </div>
            	</div>
            	
            	<p th:if = "${error} == 'error'">Tài khoản hoặc mật khẩu không đúng</p>
            	<p th:if = "${error} == 'deny'">Tài khoản không có quyền truy cập</p>
            	
            	<a href="#">Forgot Password?</a>
            	<input type="submit" class="btn" value="Login">
            	<!-- <a class="btn" href="#" style="text-align: center; margin-top: auto">
            		<input type="submit" class="btn" value="Register">
            	</a> -->
            </form>
        </div>
    </div>
</body>
</html>